/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f572;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

/* Container para las tarjetas de personajes */
.character-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Estilos de las tarjetas */
.character-card {
    background-color: #056c7e76;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    padding: 20px;
}

.character-card:hover {
    transform: scale(1.05);
    background-color: #0a9db780;
    ;
}

.character-image {
    width: 45%;
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid #000000;
    position: relative;
    overflow: visible;
}

.character-name {
    font-size: 1.5em;
    color: #333;
    margin: 15px 0;
}

.character-info {
    color: #666;
    font-size: 1em;
}

.character-info span {
    font-weight: bold;
    color: #000;
}

.pagination {
    display: flex;
    justify-content: center;
    /* Centra los botones en el contenedor */
    margin: 20px 0;
    /* Espacio arriba y abajo de los botones */
}

.pagination button {
    background-color: #007bff;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    border: none;
    /* Sin borde */
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 15px 25px;
    /* Espaciado interno */
    font-size: 18px;
    /* Tamaño de la fuente */
    cursor: pointer;
    /* Cambia el cursor al pasar el ratón */
    margin: 0 10px;
    /* Espacio entre los botones */
    transition: background-color 0.3s;
    /* Efecto de transición al cambiar el color de fondo */
}

.pagination button:hover {
    background-color: #0056b3;
    /* Color de fondo al pasar el ratón */
}

.pagination button:disabled {
    background-color: #ccc;
    /* Color de fondo para botones deshabilitados */
    cursor: not-allowed;
    /* Cambia el cursor para indicar que está deshabilitado */
}

#search-input {
    width: 100%;
    /* Ancho completo del contenedor */
    max-width: 400px;
    /* Ancho máximo para el campo de búsqueda */
    padding: 10px;
    /* Espaciado interno */
    margin: 20px auto;
    /* Margen superior e inferior, centrado horizontalmente */
    border: 2px solid #007BFF;
    /* Borde azul */
    border-radius: 5px;
    /* Bordes redondeados */
    font-size: 16px;
    /* Tamaño de fuente */
    transition: border-color 0.3s ease;
    /* Transición suave para el borde */
}

#search-input:focus {
    border-color: #0056b3;
    /* Cambio de color de borde al enfocar */
    outline: none;
    /* Quitar el contorno predeterminado */
}